<a href="https://colab.research.google.com/github/VicoSan07/AprendizajeAutomatico/blob/main/Tarea02_AA_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tarea 02 - Preprocesamiento en Python**

[Victor Sanchez](https://github.com/VicoSan07) <br>
Dataset: [Wine Quality](https://archive.ics.uci.edu/ml/datasets/wine+quality)

### **Carga de Datasets**

In [3]:
#Pandas es una librería especializada en el manejo y análisis de datos
import pandas as pd

#Carga de dataset 'vino rojo' 
dfwiner = pd.read_csv(r'C:/Users/vicos/Documents/winequality-red.csv',delimiter=";",
                      #Tipo de datos en cada columna
                      dtype={
                          'fixed acidity': float,
                          'volatile acidity': float,
                          'citric acid': float,
                          'residual sugar': float,
                          'chlorides': float,
                          'free sulfur dioxide': float,
                          'total sulfur dioxide': float,
                          'density': float,
                          'pH': float,
                          'sulphates': float,
                          'alcohol': float,
                          'quality': int,
                      })

#Carga de dataset 'vino blanco' 
dfwinew = pd.read_csv(r'C:/Users/vicos/Documents/winequality-white.csv',delimiter=";",
                      #Tipo de datos en cada columna
                      dtype={
                          'fixed acidity': float,
                          'volatile acidity': float,
                          'citric acid': float,
                          'residual sugar': float,
                          'chlorides': float,
                          'free sulfur dioxide': float,
                          'total sulfur dioxide': float,
                          'density': float,
                          'pH': float,
                          'sulphates': float,
                          'alcohol': float,
                          'quality': int,
                      })

dfwinew

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

### **Manipulación de datos**

Nuestro principal objetivo será unificar ambos datasets en uno solo, para ello, crearemos una columna adicional en el que identifiquemos el tipo de vino con el que se trabaja: blanco o rojo 🍷

In [4]:
# Crear columnas con string constante en cada fila
dfwiner['type']='red'
dfwinew['type']='white'

In [5]:
# Visualización del resultado
dfwiner[["quality", "type"]].head()

   quality type
0        5  red
1        5  red
2        5  red
3        6  red
4        5  red

In [18]:
# Concatenar los dos datasets en uno solo
dfwineall = pd.concat([dfwiner,dfwinew],ignore_index=True)
dfwineall

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [19]:
# Obtener el top 3 de vinos con más porcentaje de alcohol

dfwineall.sort_values(['alcohol'], ascending=False).head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.90,5,red
5517,6.4,0.35,0.28,1.6,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,7,white
6102,5.8,0.61,0.01,8.4,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,7,white

In [24]:
# Sobre esta misma variable, podemos crear grupos en base al nivel de alcohol en los vinos

# niveles a separar
galco = [7,9,12,15]

# clasificacion de los niveles
namegalco = ['ligero','medio','fuerte']

# nueva columna con la clasificacion de alcohol
dfwineall['clasif'] = pd.cut(dfwineall['alcohol'], galco, labels = namegalco)
dfwineall

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type,clasif
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red,medio
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red,medio
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red,medio
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red,medio
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red,medio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white,medio
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white,medio
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white,medio
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white,fuerte
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white,medio

In [50]:
# Uso de conjuntos

# Creamos un conjunto respecto a la calidad de los vinos en función de su tipo: blanco o rojo
stwiner = set(dfwineall.loc[dfwineall['type']=='red','quality'])
stwinew = set(dfwineall.loc[dfwineall['type']=='white','quality'])

print('Relaciones entre vinos blancos y rojos')
print('Los vinos blancos y rojos comparten la(s) siguiente(s) puntuacion(es) entre sí:', stwinew.intersection(stwiner))
print('El vino blanco no comparte la(s) siguiente(s) puntuacion(es) con el vino rojo:', stwinew.difference(stwiner))

# Contaremos cuantos vinos existen por puntuación o score
print('\nConteo de vinos por puntuación:')
for i in stwiner.union(stwinew):
    print('Existen ',len(dfwineall.loc[dfwineall['quality']==i,].index),' vinos con una punutación de', i)

Relaciones entre vinos blancos y rojos
Los vinos blancos y rojos comparten la(s) siguiente(s) puntuacion(es) entre sí: {3, 4, 5, 6, 7, 8}
El vino blanco no comparte la(s) siguiente(s) puntuacion(es) con el vino rojo: {9}

Conteo de vinos por puntuación:
Existen  30  vinos con una punutación de 3
Existen  216  vinos con una punutación de 4
Existen  2138  vinos con una punutación de 5
Existen  2836  vinos con una punutación de 6
Existen  1079  vinos con una punutación de 7
Existen  193  vinos con una punutación de 8
Existen  5  vinos con una punutación de 9